* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

html,
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    float: right;
    height: 100%;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

#main-panel {
    margin: 0 !important;
    padding: 0 !important;
    float: left;
    background-color: #ebebeb;
    height: 100%;
    /*    width: 35%;*/
    min-width: 400px;
    overflow-y: auto;
}

.search-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 70px;
    border: 0;
    padding: 0;
    margin: 0;
}

.search-input {
    width: 80%;
    height: 100%;
}

.search {
    cursor: pointer;
    font-size: 18px;
    font-weight: 100;
    height: 70px;
    width: 100%;
    border: none;
    background-color: #fff;
    color: #a3a3a3;
}

.search-icon {
    border: 0;
    cursor: pointer;
    background-color: #26A65B;
    text-align: center;
    font-size: 30px;
    color: #fff;
    height: 70px;
    width: 20%;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #a2a2a2;
    font-size: 16px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 16px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 16px;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 16px;
}

input:focus {
    outline: none;
    outline-style: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

.search-icon:hover {
    background-color: #3498DB;
}

.search-icon:focus {
    border: 0 !important;
    outline-style: none !important;
    outline: 0 !important;
}

.location-indicator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 5px;
    width: 100%;
    /*    height: 10px;*/
}

.indicator {
    width: 7px;
    height: 7px;
    margin-right: 5px;
    border-radius: 50%;
}

.location {
    /*    width: 100px;*/
    margin-right: 10px;
    font-weight: 100;
    font-size: 10px;
    color: #BDC3C7;
}

.locations-list {
    padding: 0;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
}

.list-box {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 100px;
    font-weight: 100;
    cursor: pointer;
    color: #34495E;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.list-box:first-of-type {
    margin-bottom: 5px;
}

.list-box:hover {
    border: 1px solid #d6d6d6;
    box-shadow: 8px 8px 30px #d6d6d6;
}

.place-img {
    margin-left: 5px;
    width: 100px;
    width: 100px;
    background-color: darkgray;
}

.place-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 75%;
    margin-left: 10px;
    padding-right: 5px;
    font-weight: 300;
}

.place-icons {
    font-size: 16px;
    color: #26A65B;
    margin-right: 8px;
}

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #26A65B;
    border-bottom: 1px solid #eaeaea;
}

.index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*    background-color: #26A65B;*/
    /*    border-right: 1px solid #26A65B;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
    font-size: 16px;
    /*    height: 25px;*/
    /*    width: 25px;*/
    /*    border-radius: 50%;*/
    color: #26A65B;
    font-weight: 400;
}

.address,
.phone,
.rating {
    color: #5c5c5c;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
}

.infowindow-header {
    display: block;
}

.infowindow-header p {
    padding: 5px;
}

h2 {
    margin: 8px 0px 0px 8px;
    padding: 0;
    color: #5c5c5c;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
}

.infowindow-img {
    float: left;
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
}

.infowindow-text {
    color: #5c5c5c;
}


/*Media Queries*/

@media screen and (max-width:800px) {
    body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #map {
        position: fixed;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        min-width: 360px;
        height: 100%;
    }
    #main-panel {
        min-width: 360px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin: 0;
        bottom: 0 !important;
    }
    .search-panel {
        position: fixed;
        left: 10%;
        right: 10%;
        top: 10px;
        z-index: 4;
        width: 80%;
    }
    .search {
        height: 50px;
    }
    .search-icon {
        width: 65px;
        height: 50px;
    }
    .location-indicator {
        width: 100%;
    }
    h2 {
        margin: 8px 0px 0px 8px;
        font-size: 14px;
        z-index: 5;
    }
    .infowindow-header {
        font-size: 12px;
    }
}